<!DOCTYPE html>
<html>
<head>
<style>
	body {
		margin: 0;
		display: grid;
		min-height: 10vh;
		place-items: center;
		background-color: lightgray;
	}
	div {
		text-align: center;
	}
		</style>
<title>Submission Received</title></head>
<link rel="icon" type = "image/x-icon" href="https://dhrhealth.com/favicon.ico">
<body>
    <h1>Complaint Submission Received</h1>
	<p>The data has been logged.</p>
	<p>Complaint ID is: {{id}}</p>
	<p>Please keep this for your records. You may check this complaint by entering the ID number on the previous page.</p>
	<p><a href = "/" class = "active">Go back</a></p>
	<div><img src="https://www.dhrhealth.com/media/gwnhldr2/dhr-logo.png" alt = "DHR Logo" width = "50%" height = "50%"></div>
</body>
</html>

